{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <section class="section_form">
        <div class="form_container">
            <div class="form_sidepage" style="background-image: url('{{asset("img/register_sidebar_bg.png")}}');">
                    {# <img src="{{ asset("img/logo_navbar.png") }}" alt="Logo de La Cohorte" class="form_sidepage_img"> #}
                    <div class="form_sidepage_text">
                        <p>Ravis de vous revoir !</p>
                        <p>Vous n'avez pas de compte ?</p>
                    </div>
                    <div class="form_sidepage_button">
                     <a href="{{ path('app_register') }}" class="form_login_redirect">S'inscrire</a>
                    </div>
                </div>
            <div class="form_main">
                <div class="form_form">
                    <div class="form_form_form">
                        <div>
                            <label for="inputEmail">Mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"required autofocus>
                        </div>
                        <div>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                    
                        <div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>

<script>
    window.addEventListener("load", (event) => {
        const labels = document.querySelectorAll('label')//on récupère tous les labels

        labels.forEach(function(item){
                let input = item.nextElementSibling //on récupère tous les input
                if (input.value ==0){
                    console.log(input)
                    gsap.to(item, {
                    x: 0,
                    opacity : 0.5
                })   
                }
                    
})
})
</script>

{% endblock %}
    