<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LA COHORTE{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="favicon" href="asset{}"> {# FAVICON A INTEGRER #}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
           
           {# (librairie css :) #}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css "> 
                <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
                <link rel="stylesheet" href="{{ asset('css/styles.mobile.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/script.js') }}" defer></script>
            <script src="{{ asset('js/scriptpanier.js') }}" defer></script>
            <script src="{{ asset('js/scriptgeneral.js') }}" defer></script>
            <script src="{{ asset('js/scriptpagearticles.js') }}" defer></script>
            <script src="{{ asset('js/script.mobile.js') }}" defer></script>
            {# librairies js #}
                {# gsap #}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                {# jquery #}<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        {% endblock %}
            {# fonts #}
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        {% block header %}    
                <header>
                    <nav class="navbar">
                        <div class="navbar-logo-container">
                            <a href=" {{ path('app_accueil') }} "><img src="{{ asset("img/logo_navbar.png") }}" alt="Logo" class="navbar-logo"></a>
                        </div>

                        <div class="navbar-list-container navbar-list1-container">
                            <a href="{{ path('app_accueil') }}">Accueil</a>
                            <a href="{{ path('app_manif') }}">Spectacles</a>
                            <a href="{{ path('app_lieux') }}">Lieux</a>
                        </div>

                        <div class="navbar-searchbar-container"> {# Plus affichée mais toujours présente #}                     
                            <input type="search" class="navbar-searchbar input-field" placeholder="Rechercher">
                            <i class="fa fa-search icon"></i>
                        </div>

                        <div class="navbar-list-container navbar-list2-container">
                            
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# Si on a un user connecté, on affiche le contenu suivant #}                   
                                    
                                    <div class="navbar-list-item">
                                        <a href="{{ path('app_profile') }}">{{ app.user.prenom }}</a> 
                                        <img src="{{ asset('img/profilecircle.png') }}" class="item-icon" alt="">

                                    </div>
                                    <div class="navbar-list-item panierbox">
                                        <a href="{{ path('app_panier') }}">Panier :</a>
                                        <div><p id='panier'></p></div>
                                    </div>
                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_logout') }}">Déconnexion</a>
                                        <img src="{{ asset('img/logout.png') }}" class="item-icon" alt="">
                                    </div>

                                {% else %} {# Si on a pas d'user connecté, on affiche seulement le contenu suivant :s #}

                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_login') }}">Connexion</a>
                                        <img src="{{ asset('img/login.png') }}" class="item-icon" alt="">
                                    </div>
                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_register') }}">S'inscrire</a>
                                        <img src="{{ asset('img/register.png') }}" class="item-icon" alt="">
                                    </div>
                                {% endif %}
                           
                            
                                
                                {% if is_granted('ROLE_ADMIN') %} {# Si l'user connecté à le rôle d'admin, on affiche le contenu suivant : #}
                                <div class="navbar-list-item adminbox">
                                    <a href="{{ path('admin') }}">Admin</a>
                                    <img src="{{ asset("img/setting.png") }}" alt="">
                                </div>
                                {% endif %}

                                
                                
                            
                        </div>

                        
                    </nav>
                    <nav class="mobile-navbar">
                        <div class="hamburger-container">
                            <span class="mobile-hamburger" id="hamburger1"></span>
                            <span class="mobile-hamburger" id="hamburger2"></span>
                            <span class="mobile-hamburger" id="hamburger3"></span>
                        </div>
                        <div class="mobile-menu">
                            
                                <div class="mobile-list">
                                    <a href="{{ path('app_accueil')}}">Accueil</a>
                                    <a href="{{ path('app_manif')}}">Spectacles</a>
                                    <a href="{{ path('app_lieux')}}">Lieux</a>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# Si on a un user connecté, on affiche le contenu suivant #}                   
                                    <div class="navbar-list-item">
                                        <a href="{{ path('app_profile') }}">{{ app.user.prenom }}</a> 
                                        <img src="{{ asset('img/profilecircle.png') }}" class="item-icon" alt="">
                                    </div>
                                    <div class="navbar-list-item panierbox">
                                        <a href="{{ path('app_panier') }}">Panier</a>
                                        <div><p id='panier'></p></div>
                                    </div>
                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_logout') }}">Déconnexion</a>
                                        <img src="{{ asset('img/logout.png') }}" class="item-icon" alt="">
                                    </div>
                                {% else %}
                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_login') }}">Connexion</a>
                                        <img src="{{ asset('img/login.png') }}" class="item-icon" alt="">
                                    </div>
                                    <div class="navbar-list-item">
                                        <a class="link" href="{{ path('app_register') }}">Inscription</a>
                                        <img src="{{ asset('img/register.png') }}" class="item-icon" alt="">
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %} {# Si l'user connecté à le rôle d'admin, on affiche le contenu suivant : #}
                                    <div class="navbar-list-item adminbox">
                                        <a href="{{ path('admin') }}">Admin</a>
                                        <img src="{{ asset("img/setting.png") }}" alt="">
                                    </div>
                                {% endif %}
                                </div>

                        </div>
                    </nav>
                    
                </header>
            
        {% endblock %}
        {% block body %}{% endblock %}</main>
        <div class="upup"><a href="#up"><img src="{{ asset("img/arrow-up-solid.svg") }}" alt=""></a></div>
        <footer>
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="{{ asset("img/logo_navbar.png") }}" alt="Logo de La Cohorte">
                    <figcaption>Tous les spectacles, au meilleur prix</figcaption>
                </div>
                <div class="footer-list">
                    <a href="{{ path('app_manif') }}">Trouver un spectacle</a>
                    <a href="{{ path('app_lieux') }}">Consulter la liste des salles</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_profile') }}">Accéder à mon profil</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
                </div>
                <div class="footer-list">
                    <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
                    <a href="#">Qui sommes-nous ?</a>
                    <a href="#">FAQ</a>
                </div>
                <div class="footer-list">
                    <a href="#">Faire une réclamation</a>
                    <a href="#">Se faire rembourser</a>
                    <a href="#">Proposer un spectacle</a>
                </div>
            </div>
            <div class="footer-copyright">
                <p>La Cohorte ©2022</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
