{% extends 'base.html.twig' %}

{% block title %}Hello LieuxController!{% endblock %}

{% block body %}
<main>
<div class="lieu_intro">Découvrez nos lieux !</div>
<div class="container-lieu-card">

    {% for lieu in allLieux %}
            <div class="manif-card lieu_card">

                <div class="lieu_info">
                    <h1>{{lieu.getLieuNom}}</h1>

                    <p>{{lieu.getLieuAdrNum}} {{lieu.getLieuAdrRue}} </p>

                    <h3 class="lieu_place">{{lieu.getLieuCapacite}} places</h3>
                </div>

                <div class="lieu_manif">

                    <h2 class="lieu_mani_current">En ce moment</h2>

                    {% set i = 0 %}
                    <ul>{% for manif in lieu.getManifestations %}
                            {% set i = i + 1 %}
                                 {% if i<4  %}
                                     <li>{{ manif.getManifTitre }}</li> <hr>
                            {% endif %}

                        {% endfor %}</ul>
                </div>


            </div>
    {% endfor %}
</div>
</main>
{% endblock %}
